/*
 * @name, @description dual-line chatbox
 */

[class^="channelTextArea_"] [class^="inner_"] {
  flex-direction: column;

  [class^="separator_"] {
    margin-left: auto;
  }
}

[class^="inner_"]:has([class^="attachWrapper_"])>[class^="buttons_"] {

  margin-left: 32px;
}

[class^="attachWrapper_"] {
  top: calc(100% - 65px);
  position: fixed;
}

.emoji__8ac07 {
  width: 14px !important;
  height: 14px !important;
}