/*
 * @name Un-Simplify Bios in Simplified Profiles
 * @description Un-Simplify Bios in Simplified Profiles
 */

/* Unclamp bio length in user popout */
[class^="userPopoutInner_"] [class^="descriptionClamp_"] {
  -webkit-line-clamp: unset;
  max-height: unset;
  &+[class^="viewFullBio_"] {
      display: none;
  }
}

/* Unclamp status bubble size in user popout */
[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
  -webkit-line-clamp: unset;
  max-height: unset!important;
}

&&::-webkit-scrollbar {
width: 8px;
height: 8px;
}

&&::-webkit-scrollbar-track {
border: 2px solid var(--scrollbar-thin-track);
background-color: var(--scrollbar-thin-track);
border-color: var(--scrollbar-thin-track);
}

&&::-webkit-scrollbar-thumb {
background: var(--profile-body-divider-color);
background-clip: padding-box;
border: 2px solid transparent;
border-radius: 4px;
min-height: 40px;
}
